/* 
Fonts Section
*/

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Medium.eot");
  src: url("fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Medium.woff2") format("woff2"),
    url("fonts/Raleway-Medium.woff") format("woff"),
    url("fonts/Raleway-Medium.ttf") format("truetype"),
    url("fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Italic";
  src: url("fonts/Raleway-MediumItalic.eot");
  src: url("fonts/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("fonts/Raleway-MediumItalic.woff") format("woff"),
    url("fonts/Raleway-MediumItalic.ttf") format("truetype"),
    url("fonts/Raleway-MediumItalic.svg#Ra`leway-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Raleway Light";
  src: url("fonts/Raleway-Light.eot");
  src: url("fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Light.woff2") format("woff2"),
    url("fonts/Raleway-Light.woff") format("woff"),
    url("fonts/Raleway-Light.ttf") format("truetype"),
    url("fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Light Italic";
  src: url("fonts/Raleway-LightItalic.eot");
  src: url("fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-LightItalic.woff2") format("woff2"),
    url("fonts/Raleway-LightItalic.woff") format("woff"),
    url("fonts/Raleway-LightItalic.ttf") format("truetype"),
    url("fonts/Raleway-LightItalic.svg#Raleway-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Playfair Display Bold";
  src: url("fonts/PlayfairDisplay-Bold.eot");
  src: url("fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display Bold Italic";
  src: url("fonts/PlayfairDisplay-BoldItalic.eot");
  src: url("fonts/PlayfairDisplay-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-BoldItalic.woff") format("woff"),
    url("fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay-Regular.eot");
  src: url("fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display Italic";
  src: url("fonts/PlayfairDisplay-Italic.eot");
  src: url("fonts/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway Light";
  margin: 0px;
  color: #2d2d2d;
  font-size: 14px;
}

/* Header 
Section 
*/

header {
  width: 100%;
  position: fixed;
  background: white;
  z-index: 9999;
}
.header-img {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.aloha-logo {
  width: 100px;
  margin-left: 10px;
}
.cart-logo {
  width: 50px;
  margin-right: 10px;
}
.notif-text {
  display: none;
}

/* Nav 
Section 
*/

.navigation-bar {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Raleway";
  text-transform: uppercase;
}
.navigation-bar li a {
  color: #e2574c;
  text-decoration: none;
}
.navigation-bar li a:hover {
  color: #b64036;
}
.navigation-bar li {
  padding: 10px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 500;
}
.empty-space {
  padding-bottom: 8em;
}

/* Hero Banner 
Section 
*/

.banner {
  margin-top: 0px;
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/banner-girl.png) center bottom no-repeat,
    url(../images/flower-bkgd.jpg) center no-repeat;
  background-size: cover, 40%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner p {
  font-family: "Raleway";
  font-size: 16px;
  padding: 10px;
}
.banner p:nth-child(2) {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 50px;
}

/* About 
Section 
*/

.about {
  margin-top: 50px;
  text-align: center;
}
h2 {
  font-family: "Playfair Display Italic";
  font-size: 30px;
}
.style {
  font-family: "Playfair Display Bold";
  font-style: normal;
}
.paragraph-text {
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #969696;
}

/* Shop 
Section 
*/

.flex-grid {
  display: flex;
  flex-flow: row wrap;
}
.img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/mens-category.jpg) center no-repeat;
  background-size: cover;
  height: 187.5px;
  width: 100%;
  border-bottom: 4px solid white;
}
.img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/trends-category.jpg) center no-repeat;
  background-size: cover;
  height: 187.5px;
  width: 50%;
  border-top: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}
.img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/glasses-category.jpg) center no-repeat;
  background-size: cover;
  height: 187.5px;
  width: 50%;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
}
.img4 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/sale-category.jpg) center no-repeat;
  background-size: cover;
  height: 187.5px;
  width: 50%;
  border-top: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}
.img5 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/bags-category.jpg) center no-repeat;
  background-size: cover;
  height: 187.5px;
  width: 50%;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
}
.img6 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/womens-category.jpg) center no-repeat;
  background-size: cover;
  height: 187.5px;
  width: 100%;
  border-top: 4px solid white;
}
.flex-grid p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "Raleway";
  text-transform: uppercase;
}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.row p {
  box-sizing: border-box;
}
.small {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Featured 
Section 
*/

.product-info {
  text-align: center;
}
h3 {
  font-family: "Playfair Display";
  color: #e2574c;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
}
figure {
  margin-top: 30px;
}
.product-info h2 {
  margin-top: 50px;
}
.product-info figure p {
  color: #969696;
  font-weight: 500;
  text-transform: uppercase;
}
.product-info figure input {
  display: none;
}
.carousel-cell {
  width: 100%;
  height: 450px;
  margin-right: 10px;
}
button {
  display: none;
}

/* Updates 
Section 
*/

.bottom-banner {
  width: 100%;
  height: 300px;
  margin-top: 90px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/wave-bkgd.jpg) bottom no-repeat;
  background-size: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.bottom-banner div {
  text-align: center;
  padding: 20px;
}
.bottom-banner p {
  line-height: 30px;
  font-size: 14px;
  margin-top: 20px;
}
.form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.email {
  border-radius: 20px;
  padding: 13px 100px 13px 15px;
  border-width: 0px;
  color: #969696;
  text-align: left;
  width: 230px;
  font-size: 14px;
  font-family: "Raleway Light";
}
.subscribe-button {
  background-color: #e2574c;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  color: white;
  border-width: 0px;
  position: absolute;
  right: 4px;
  font-size: 14px;
  font-family: "Raleway";
}

/* Footer 
Section  
*/

.footer-text {
  height: 20em;
  margin-top: 0.5em;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Playfair Display";
}
.footer-text p {
  text-align: center;
  padding: 10px;
}
.footer-text a {
  color: white;
}
.footer-text p:nth-child(3) {
  color: #969696;
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 30px;
  align-self: center;
  width: 40%;
}
.social-links span {
  display: none;
}

/* Tablet 
Version 
*/

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
  header {
    margin-bottom: none;
    margin-top: none;
    padding-bottom: 0.5em;
  }
  header hr {
    display: none;
  }
  .empty-space {
    padding-bottom: 5em;
  }
  .navigation-bar {
    margin-top: -3em;
    justify-content: flex-start;
    margin-left: 10em;
  }
  .banner {
    height: 350px;
    background-size: cover, 20%;
    background-position-y: 100%, 125%;
  }
  .paragraph-text {
    padding-left: 65px;
    padding-right: 65px;
    font-size: 16px;
  }
  .small {
    width: 50%;
  }
  .img1 {
    width: 50%;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
  }
  .img2 {
    border-top: none;
    border-left: 4px solid white;
  }
  .img3 {
    border-top: none;
  }
  .img4 {
    border-bottom: none;
  }
  .img5 {
    border-bottom: none;
    border-right: 4px solid white;
  }
  .img6 {
    width: 50%;
    box-sizing: border-box;
    border-top: 4px solid white;
    border-left: 4px solid white;
  }
  .carousel-cell {
    width: 50%;
    height: 450px;
    margin-right: 10px;
  }
  .bottom-banner {
    background-size: 1800px;
    background-position: bottom;
    height: 450px;
  }
  .bottom-banner h2 {
    margin-top: -30px;
    font-size: 50px;
  }
  .bottom-banner p {
    font-size: 25px;
    line-height: 50px;
  }
  .footer-text {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 17em;
  }
  .footer-text div, ul {
    margin-top: -1em;
  }
  .footer-text p {
    text-align: left;
  }
  .social-links {
    flex-direction: column;
    width: 50%;
    padding: 0px;
    font-family: "Raleway";
  }
  .social-links span {
    display: inline;
  }
  .social-links i {
    padding-right: 1em;
  }
  .social-links li {
    padding: 0.5em;
    margin-left: 170px;
    text-align: start;
  }
}

/* Desktop 
Version 
*/

@media (min-width: 1240px) {
  body {
    font-size: 16px;
  }
  .header-img {
    margin-top: 15px;
  }
  .aloha-logo {
    margin-left: 30px;
  }
  .cart-logo {
    position: relative;
    margin-right: 40px;
  }
  .cart-notif {
    display: flex;
    justify-content: center;
    margin-right: -30px;
  }
  .notif {
    margin-top: -5px;
    position: relative;
    width: 21.5px;
    height: 21px;
    border-radius: 100%;
    background-color: #e2574c;
    right: 58px;
  }
  .notif-text {
    display: initial;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: "Raleway";
    text-align: center;
    left: 6px;
    top: 1.5px;
  }
  nav {
    margin-bottom: 1em;
  }
  .navigation-bar {
    justify-content: center;
  }
  .banner {
    height: 550px;
    background-size: cover, 15%;
    background-position-y: 100%, 125%;
  }
  .banner p {
    font-size: 25px;
  }
  .banner p:nth-child(2) {
    font-size: 80px;
  }
  .paragraph-text {
    padding-left: 300px;
    padding-right: 300px;
    font-size: 18px;
  }
  .img1 {
    width: 50%;
  }
  .img6 {
    width: 50%;
  }
  .row p {
    height: 375px;
  }
  .product-info figure div {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .carousel-cell {
    width: 33.33%;
    height: 525px;
    margin-right: 10px;
  }
  button {
    display: initial;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #242424;
    font-family: 'Raleway Light';
  }
  .cart {
    color: white;
    font-family: "Raleway";
    font-size: 16px;
  }
  .bottom-banner {
    height: 410px;
  }
  .bottom-banner p {
    padding-left: 120px;
    width: 80%;
    margin-top: 20px;
  }
  .email {
    width: 300px;
  }
  .footer-text div {
    margin-left: 30px;
  }
  .social-links li {
    margin-left: 400px;
  }
}